@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");

/* own class */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
}
.ft_white {
  color: white;
}
.ft_green {
  color: #207b41;
}
.ft_blac {
  color: #000;
}
/* top_most */

.top_most_container {
  width: 100%;
  position: fixed;
  z-index: 22;
  background-color: #2a2a2a;
}
.top_most {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.top_most li {
  padding: 13px 0px;
  margin-left: 33px;
}
.top_most li a {
  font-size: 15px;
  color: white;
  font-weight: 700;
}
/* top_most */
/* <!-- header --> */
.header_container {
  background-color: #1a6134;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 42px;
}
.header_section {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header_img {
  width: 138px;
  height: 52px;
  padding-right: 77px;
}
.header_list {
  display: flex;
  align-items: center;
  margin: 0;
}

.header_list li {
  color: red;
  width: 130px;
  padding: 20px 0px;
  text-align: center;
  border-left: 1px solid forestgreen;
  /* border-right: 1px solid forestgreen; */
}
.header_list li a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.header_list li.search_area {
  width: 152px;
}
.header_list li.invst {
  width: 154px;
}
.search_area a {
  text-align: center;
}
.search_cnt {
  padding-left: 15px;
}
.fa-search {
  font-size: 15px;
  color: white;
  padding: 18px 0px;
}
.log_in_btn {
  width: 134px;
  padding: 3px 0px;
  margin-left: 25px;
  margin-top: -6px;
  background: #f97d21;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.fa-caret-down {
  font-size: 25px;
  margin-left: 10px;
}
.header_rspn_list {
  display: none;
}
/* <!-- header --> */
/* <!-- sign-up  --> */
.sign_up_container {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  padding: 15px 0px;
}
.sign_up_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_title {
  font-size: 26px;
  font-weight: 700;
}
.sign_ip {
  padding: 12px 10px;
  width: 40%;
  margin: 0px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #e4e8e5;
}
.sign_ip::placeholder {
  font-weight: 600;
}
.subscribe {
  background-color: #f97d21;
  display: inline-block;
  width: 10%;
  text-align: center;
  padding: 12px 0px;
  border-radius: 10px;
  font-weight: 900;
}

.main_container {
  width: 90%;
  margin: 0 auto;
  background-color: #ece9e9;
}
/* <!-- sign-up  --> */
@media screen and (max-width: 1070px) {
  .header_list {
    display: none;
  }
  .header_section {
    justify-content: space-between;
  }
  .header_rspn_list {
    display: flex;
    align-items: center;
  }
  .search_rspn {
    font-size: 28px;
    padding: 0px 20px;
  }
  .fa-bars {
    font-size: 37px;
  }
}
