@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Slab&family=Roboto:wght@300;400;500;700&display=swap");
.swiper {
  width: 100%;
  height: 670px;
  margin-top: 45px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
}
/* .per_solution_container */

.per_solution_container {
  width: 100%;
  background-color: #f4f8f5;
  z-index: 10;
  padding-bottom: 50px;
  margin-top: 145px;
}
.per_sol_section {
  width: 95%;
  margin: 0 auto;
}
.per_title,
.test_title,
.info_tool_title,
.conversation_title {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  color: #207b41;
  /* font-size: 45px;
  font-weight: 800; */
  font-size: 44px;
  line-height: 58px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
.info_tool_title {
  width: 59%;
}

.per_service {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service_card {
  width: 19%;

  z-index: 0;
}
.service_title {
  /* width: 50%; */
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 17px;
  line-height: 37px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-left: 2px;
}
.service_title.mar-2 {
  margin-left: 2px;
}
.service_crd_cnt {
  width: 218px;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  background-color: #207b41;
}
.sub_ser_card {
}
.service_crd_img {
  width: 100px;
  height: 100px;
  z-index: 20;
}
/* <!-- solution and service --> */
/* <!-- info tools  --> */
.info_tool_container {
  width: 100%;
  margin-top: 165px;
}
.info_tool_section {
}
/* .info_tool_title,
.test_title {
  margin: 0 auto;

  font-size: 30px;
  font-weight: 600;
} */
.wsb_news_section,
.wsb_resources_section,
.wsb_community_section {
  display: flex;
  position: relative;
  margin-top: 9px;
}
.wsb_new {
  background: url(../images/left-shape.svg);
  /* position: absolute;
  left: 1px; */
}
.wsb_news {
  background: url(../images/wsb-sub-1.jpg);
  /* position: absolute;
  right: 1px; */
}
.wsb_resource {
  background: url(../images/right-shape.svg) !important;
  /* position: absolute;
  right: 1px;
  top: 589px; */
}
.wsb_resources {
  background: url(../images/community-sub-2.jpg);
  /* position: absolute;
  top: 589px;
  left: 1px; */
}
.wsb_community {
  background: url(../images/left-shape.svg);
  /* position: absolute;
  left: 1px;
  top: 1166px; */
}
.wsb_communities {
  background: url(../images/resources-sub-3.jpg) !important;
  /* position: absolute;
  right: 1px;
  top: 1166px; */
}
.wsb_left {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  background-position: left center;
  z-index: 1;
}
.h-1 {
  height: 500px;
}
.h-2 {
  height: 417px;
}
.h-3 {
  height: 497px;
}
.wsb_left_cnt {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alter_font {
  color: #207b41;
}
.news_cnt {
  width: 61%;
  margin-top: -6px;
}
.news_img_cnt {
}

.news_img {
  margin-top: -15px;
  width: 102px;
  height: 122px;
}

.news_cnt {
  display: flex;
  flex-direction: column;
}

.news_title {
  font-size: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.news_para {
  padding: 20px 0px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 25px;
  margin-top: -10px;
  margin-left: 2px;
}
.news_learn_link {
  font-size: 17px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.wsb_right {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 0;
}

/* <!-- info tools  --> */
/* <!-- Testimonials --> */
.test_container {
  width: 100%;
  margin-top: 209px;
  margin-left: -3px;
}
.test_section {
  width: 97%;
  margin: 0 auto;

  border: 2px solid #207b41;
}
.test_title {
  margin-top: 150px;
  margin-left: -10px;
}
.test_cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.swiper-slide img.test_img {
  border-radius: 100%;
  width: 300px;
  height: 10%;
}
.test_para_cnt {
  width: 59%;
  display: flex;
  flex-direction: column;
}
.test_para {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 400;
  text-align: left;
}

.test_card.swiper {
  width: 100%;
  height: 10%;
  margin-top: 18px;
}
/* <!-- Testimonials --> */
/* <!-- Join the Conversation --> */
.txt-right {
  text-align: right;
}
.conversation_container {
  width: 100%;
  background-color: #f4f8f5;
  margin-top: 223px;
  padding-bottom: 40px;
}
.conversation_section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.conversation_title {
}
.conv_card_section {
  display: flex;
  justify-content: space-between;
}
.conv_card {
  width: 23%;
  height: fit-content;
  background-color: #fff;
}
.conv_time {
}
.conv_img {
  display: flex;
  justify-content: center;
}
.conv_img_cnt {
  width: 100%;
  height: auto;
}
.var-1 {
  width: 100%;
  height: 125px;
  padding: 0px 20px;
}
.var-2 {
  padding: 0px 20px;
}
.var-3 {
  width: 100%;
  height: 300px;

  padding: 0px 20px;
}
.var-4 {
  width: 100%;
  height: 150px;

  padding: 0px 20px;
}
.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(0.9);
}
.conv_para {
  font-size: 18px;
  padding: 0px 30px;
  line-height: 27px;
}
.conv_sn {
}
.conv_fb {
  border-radius: 50px;
}
.load_more {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 10px 0px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #207b41;
  color: #207b41;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
}
/* <!-- Join the Conversation --> */
/* <!-- sign-up  --> */
.sign_up_container {
  width: 100%;
  margin-top: 20px;
}
.sign_up_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_title {
  font-size: 26px;
  font-weight: 700;
}
.sign_ip {
  padding: 12px 10px;
  width: 40%;
  margin: 0px 20px;
  border: 1px solid gray;
  border-radius: 5px;

  background-color: #e4e8e5;
}
.sign_ip::placeholder {
  font-weight: 600;
}
.subscribe {
  background-color: #f97d21;
  display: inline-block;
  width: 10%;
  text-align: center;
  padding: 12px 0px;
  border-radius: 10px;
  font-weight: 900;
}

/* <!-- sign-up  --> */
.conversation_title {
}
@media screen and (max-width: 1070px) {
  .top_most {
    width: auto;
  }
  .per_service {
    flex-direction: column;
  }
  .service_card {
    width: 35%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .wsb_news_section,
  .wsb_resources_section,
  .wsb_community_section {
    flex-direction: column;
  }

  .w-100 {
    width: 100%;
  }
  .conv_card_section {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .conv_card {
    width: 45%;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
  }
  .test_para {
    margin-top: 20px;
    text-align: center;
  }
  .per_title,
  .test_title,
  .info_tool_title,
  .conversation_title {
    font-size: 32px;
  }
  .var-2 {
    padding: 0;
  }
  .load_more {
    width: 35%;
    margin-top: 30px;
  }
  .service_title {
    font-weight: 400;
    font-size: 28px;
  }
  .sign_up_container {
    width: 100%;
  }
  .sign_up_section {
    display: flex;
    flex-direction: column;
  }
  .subscribe {
    width: 22%;
  }
  .sign_ip {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 650px) {
  .conv_card {
    width: 100%;
  }
}
